@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  scroll-margin-top: 6rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #696969;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
}

::selection {
  background-color: #FFDC64;
}

.pg {
  max-width: 70ch;
  font-size: 1.6rem;
}
.pg > p:not(:last-child) {
  margin-bottom: 1rem;
}

.blur {
  filter: blur(10px);
}

.mt {
  margin-top: -1rem;
}

.heading-1 {
  font-family: "Architects Daughter", cursive;
  font-size: 8.5rem;
  color: #45A86E;
  line-height: 1;
  font-weight: 400;
}
@media only screen and (max-width: 62.5em) {
  .heading-1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 5.7rem;
  }
}

.heading-2 {
  font-family: "Architects Daughter", cursive;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 1px 1px 1px #aaa;
}
@media only screen and (max-width: 75em) {
  .heading-2 {
    font-size: 3rem;
  }
}
.heading-2--light {
  color: #f9f7f6;
}

.heading-3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #696969;
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.heading-3:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(69, 168, 110, 0.8), 40%, rgba(116, 198, 150, 0.1));
  bottom: 3px;
  left: 0;
  z-index: -1;
}
@media only screen and (max-width: 75em) {
  .heading-3 {
    font-size: 1.9rem;
  }
  .heading-3:before {
    display: none;
  }
}

.heading-4 {
  font-family: "Architects Daughter", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #696969;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes catEyes {
  0%, 100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-0.3rem, 0.1rem);
  }
  40% {
    transform: translate(-0.3rem, 0.1rem);
  }
  60% {
    transform: translate(-0.3rem, 0.1rem);
  }
  80% {
    transform: translate(-0.3rem, 0.1rem);
  }
}
@keyframes sway {
  0%, 100% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(6deg);
  }
}
@keyframes sway2 {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(6deg);
  }
}
@keyframes dogEyes {
  0%, 100% {
    transform: translate(-6%, 7%);
  }
  20% {
    transform: translate(-1%, 0);
  }
  70% {
    transform: translate(-1%, 0);
  }
  80% {
    transform: translate(-6%, 7%);
  }
}
@keyframes dogHead {
  0%, 100% {
    transform: rotate(-1deg) scale(1.01);
  }
  50% {
    transform: rotate(0deg) translateY(1px);
  }
}
@keyframes dogTongue {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
@keyframes eyebrows {
  0%, 100% {
    transform: translateY(0) translateX(-0.5rem);
  }
  20% {
    transform: translateY(0) translateX(-0.5rem);
  }
  40% {
    transform: translateY(0) translateX(-0.5rem);
  }
  60% {
    transform: translateY(0) translateX(-0.5rem);
  }
  70% {
    transform: translateY(45%) translateX(10%);
  }
  90% {
    transform: translateY(0) translateX(-0.5rem);
  }
}
@keyframes patch {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(10%);
  }
  90% {
    transform: translateY(0);
  }
}
.nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 7rem;
  display: flex;
  padding: 0 12vw;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 10000;
}
@media only screen and (max-width: 50em) {
  .nav {
    padding: 0 5vw;
  }
}
.nav__logo {
  width: 15rem;
  height: auto;
  margin-right: auto;
}
.nav__logo img {
  width: 100%;
  height: 100%;
  display: block;
}
.nav__logo-link:focus {
  outline-color: initial;
  outline-style: groove;
  outline-offset: 3px;
  outline-width: 1px;
}
.nav__list {
  font-size: 1.6rem;
  display: flex;
  list-style: none;
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    padding: 4rem 0;
    transform: translateX(150%);
    transition: transform 0.8s cubic-bezier(0.42, 0.97, 0.52, 1.49);
    background: linear-gradient(rgba(69, 168, 110, 0.3), 2%, rgba(69, 168, 110, 0.01)), white;
  }
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.nav__link, .nav__link:link, .nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #696969;
  display: block;
  padding: 3px 0.8rem;
  border-radius: 2px;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active, .nav__link:focus {
  background-color: #45A86E;
  color: #fff;
  transform: translateY(-0.5rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hamburger {
  border: none;
  cursor: pointer;
  width: 3.5rem;
  height: 3rem;
  background-color: #fff;
  z-index: 100;
  display: none;
  transition: transform 0.5s;
}
.hamburger:focus {
  outline-color: initial;
  outline-style: ridge;
  outline-offset: 3px;
  outline-width: 1px;
}
@media only screen and (max-width: 37.5em) {
  .hamburger {
    display: block;
  }
}
.hamburger__line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #696969;
  position: relative;
  transition: all 0.2s;
}
.hamburger__line::before, .hamburger__line::after {
  height: 3px;
  width: 100%;
  background-color: #696969;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.5s;
}
.hamburger__line::before {
  top: -1rem;
}
.hamburger__line::after {
  top: 1rem;
}

.showMenu {
  transform: translateY(0);
}

.iconX .hamburger__line {
  background-color: transparent;
}
.iconX .hamburger__line::before, .iconX .hamburger__line::after {
  height: 4px;
  width: 100%;
  background-color: #45A86E;
  content: "";
  display: block;
  position: absolute;
}
.iconX .hamburger__line::before {
  top: 0;
  transform: rotate(225deg);
}
.iconX .hamburger__line::after {
  top: 0;
  transform: rotate(-225deg);
}

.header {
  background-color: white;
  background: linear-gradient(rgba(69, 168, 110, 0.01), 70%, rgba(69, 168, 110, 0.3)), url(../img/groovepaper.png);
  background-repeat: repeat;
  padding-top: 7rem;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: max-content max-content;
  position: relative;
  transition: all 0.2s;
  grid-template-areas: "heading   img" "btn       img";
}
.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45A86E;
  clip-path: polygon(82% 92%, 100% 85%, 100% 100%, 0 100%, 0 93%, 57% 90%);
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding-top: 15rem;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    grid-template-areas: "img" "heading" "btn";
  }
}
.header__heading {
  grid-area: heading;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
@media only screen and (max-width: 37.5em) {
  .header__heading {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.header__heading--sub {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
  display: block;
  color: #696969;
  text-transform: uppercase;
}
@media only screen and (max-width: 62.5em) {
  .header__heading--sub {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__heading--sub {
    font-size: 1.6rem;
  }
}
.header__img {
  grid-area: img;
  width: 48vmin;
  transform-box: fill-box;
  justify-self: center;
}
@media only screen and (max-width: 50em) {
  .header__img {
    width: 34vmin;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__img {
    width: 50vmin;
  }
}
.header__btn {
  grid-area: btn;
  padding: 1rem 2rem;
  justify-self: center;
  animation: heartBeat 1s 1.2s 3;
}

#dogEyes {
  transform-box: fill-box;
  transform-origin: center;
  animation: dogEyes 2.5s linear infinite;
}

#dogHead {
  transform-box: fill-box;
  transform-origin: bottom right;
  animation: dogHead 2s linear infinite;
}

#dogTongue {
  transform-box: fill-box;
  transform-origin: top;
  animation: dogTongue 0.55s infinite;
}

#dogPatch {
  transform-box: fill-box;
  transform-origin: center;
  animation: patch 3s infinite;
}

#dogEyebrows {
  transform-box: fill-box;
  transform-origin: center;
  animation: eyebrows 3s infinite;
}

#catTail {
  transform-box: fill-box;
  transform-origin: top left;
  animation: sway2 2.5s infinite;
}

#catEyes {
  transform-box: fill-box;
  transform-origin: center;
  animation: catEyes 5s 2s linear infinite;
}

#catYellow {
  transform-box: fill-box;
  transform-origin: bottom;
  animation: sway 4s infinite;
}

.main {
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s;
  margin-top: -4rem;
}

.about,
.service,
.team,
.contact {
  padding-top: 6rem;
  margin-top: -1rem;
}

.about__box,
.team__box {
  padding-bottom: 12rem;
}

.footer {
  background: #45A86E;
  padding: 5rem 0 2rem;
  margin-top: -1rem;
  display: grid;
  justify-items: center;
  grid-row-gap: 2rem;
  background: linear-gradient(#45a86e, 50%, #2a9254);
}
.footer__list {
  font-size: 1.6rem;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__logo {
  width: 6rem;
  height: auto;
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .footer__item {
    padding: 1rem 0;
  }
}
.footer__link, .footer__link:link, .footer__link:visited {
  align-content: center;
  text-decoration: none;
  color: #f9f7f6;
  display: block;
  padding: 3px 0.8rem;
  border-radius: 2px;
  transition: all 0.2s;
  border: 1px solid #2a9254;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.footer__link:hover, .footer__link:active, .footer__link:focus {
  background-color: #fff;
  color: #45A86E;
  transform: translateY(-0.5rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.footer__link__icon {
  font-size: 1.8rem;
  display: inline-block;
}
.footer__text {
  font-size: 1.4rem;
}
.footer__contact {
  font-size: 1.3rem;
  display: grid;
  grid-gap: 1rem;
  justify-items: start;
}

.about {
  padding-top: 6rem;
  display: grid;
  justify-items: center;
  grid-row-gap: 6rem;
  position: relative;
  margin-top: -1rem;
  background: linear-gradient(#45a86e, 40%, #2a9254), url(../img/background-dog.svg);
  background-repeat: space;
  background-blend-mode: overlay;
}
.about:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.02), 90%, rgba(69, 168, 110, 0.03)), url(../img/groovepaper.png);
  clip-path: polygon(27% 99%, 66% 99%, 89% 98%, 100% 99%, 100% 100%, 0 100%, 0 98%);
}
.about__box {
  max-width: 126rem;
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 45rem));
  grid-gap: 2rem;
  justify-content: space-evenly;
}
.about__card {
  background: url(../img/groovepaper.png);
  padding: 6rem 3rem;
  display: grid;
  grid-gap: 4rem;
  justify-items: center;
  align-content: flex-start;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.2s;
  backface-visibility: hidden;
}
.about__card:hover {
  transform: translate3d(0, -0.5rem, 0) scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about__card:hover .about__icon {
  transform: scale(1.1);
}
.about__icon {
  height: 7rem;
  width: 7rem;
  transition: all 0.2s;
}

.service {
  padding-top: 6rem;
  display: grid;
  justify-items: center;
  grid-row-gap: 6rem;
  position: relative;
  margin-top: -1rem;
  background: linear-gradient(rgba(69, 168, 110, 0.01), 70%, rgba(69, 168, 110, 0.3)), url(../img/groovepaper.png);
}
.service:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45A86E;
  clip-path: polygon(35% 99%, 88% 98%, 100% 98%, 100% 100%, 0 100%, 0 97%);
}
.service__box {
  width: 100%;
  justify-content: center;
  padding: 0 1rem 12rem;
  display: grid;
  grid-template-columns: repeat(5, 14rem);
  grid-auto-rows: 14rem;
  grid-column-gap: 6rem;
  grid-row-gap: 7rem;
}
@media only screen and (max-width: 62.5em) {
  .service__box {
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-auto-rows: 12rem;
  }
}
.service__card {
  background-color: #45A86E;
  transition: all 0.2s;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.service__card:hover {
  transform: translate3d(0, -0.5rem, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.service__card:hover .service__icon {
  transform: rotate(3deg);
}
.service__link, .service__link:link, .service__link:visited, .service__link:focus {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.3;
  color: #696969;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px transparent solid;
  transition: all 0.2s;
  outline: none;
}
.service__link:focus .service__button {
  transform: rotate(3deg) scale(1.25);
  outline: none;
}
.service__button {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all 0.2s;
}
.service__icon {
  width: 6rem;
  height: 6rem;
  transition: all 0.2s;
}
.service__title {
  width: 15rem;
  padding-top: 5px;
  display: block;
}
@media only screen and (max-width: 62.5em) {
  .service__title {
    width: 12rem;
  }
}

.team {
  padding-top: 6rem;
  display: grid;
  justify-items: center;
  grid-row-gap: 6rem;
  position: relative;
  margin-top: -1rem;
  background: linear-gradient(#45a86e, 80%, #2a9254), url(../img/background-cat.svg);
  background-repeat: space;
  background-blend-mode: overlay;
}
.team:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.02), 90%, rgba(69, 168, 110, 0.03)), url(../img/groovepaper.png);
  clip-path: polygon(27% 99%, 66% 99%, 89% 98%, 100% 99%, 100% 100%, 0 100%, 0 98%);
}
.team__box {
  max-width: 126rem;
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 45rem));
  grid-gap: 2rem;
  justify-content: space-evenly;
}
.team__card {
  background: url(../img/linedpaper.png);
  background-position: center;
  padding: 5rem 3rem;
  display: grid;
  grid-gap: 4rem;
  justify-items: center;
  align-content: flex-start;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.2s;
  backface-visibility: hidden;
}
.team__card:hover {
  transform: translate3d(0, -0.5rem, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.team__card:hover .team__img {
  transform: scale(1.05) rotate(3deg);
}
.team__img {
  background-color: #fff;
  display: block;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: all 0.2s;
}
.team__img-1 {
  background-image: url(../img/wet-1.png);
  background-position: -1rem 1rem;
}
.team__img-2 {
  background-image: url(../img/wet-2.png);
  background-position: center;
}
.team__img-3 {
  background-image: url(../img/wet-3.png);
  background-position: 1rem 1rem;
}
.team__img-4 {
  background-image: url(../img/wet-4.png);
  background-position: -2rem 1rem;
}
.team__link {
  text-decoration: none;
  color: #45A86E;
  transition: all 0.2s;
}
.team__link:hover, .team__link:active {
  color: inherit;
  background-color: #FFDC64;
}
.team__link:focus {
  color: inherit;
  background-color: #FFDC64;
  outline: none;
}

.contact {
  padding-top: 6rem;
  display: grid;
  justify-items: center;
  grid-row-gap: 6rem;
  position: relative;
  margin-top: -1rem;
  background: linear-gradient(rgba(69, 168, 110, 0.01), 70%, rgba(69, 168, 110, 0.3)), url(../img/groovepaper.png);
}
.contact:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45A86E;
  clip-path: polygon(35% 99%, 88% 98%, 100% 98%, 100% 100%, 0 100%, 0 97%);
}
.contact__box {
  max-width: 126rem;
  margin: 0 2rem;
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  padding-bottom: 6rem;
}
.contact__card {
  display: grid;
  justify-content: center;
  grid-row-gap: 1rem;
  margin-bottom: 1.5rem;
}
.contact__text {
  display: grid;
  grid-row-gap: 2rem;
  justify-items: start;
}
.contact__table {
  text-align: left;
  font-size: 1.6rem;
}
.contact__link, .contact__link:link, .contact__link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #696969;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 2rem;
  transition: all 0.2s;
  padding: 6px;
}
.contact__link:hover:not(.contact__icon), .contact__link:active:not(.contact__icon), .contact__link:focus:not(.contact__icon) {
  outline: none;
  background-color: #FFDC64;
}
.contact__link:hover .contact__icon, .contact__link:active .contact__icon, .contact__link:focus .contact__icon {
  transform: scale(1.1) rotate(10deg);
}
.contact__icon {
  width: 3rem;
  height: 3rem;
  transition: all 0.2s;
}

.map {
  position: relative;
}
.map:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45A86E;
  clip-path: polygon(35% 99%, 88% 98%, 100% 98%, 100% 100%, 0 100%, 0 97%);
}

.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  color: #fff;
  background-color: #45A86E;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 2px solid transparent;
  z-index: 10;
}

.btn:hover,
.btn:active,
.btn:focus {
  transform: translate3d(0, -0.5rem, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline: none;
}

.container-services {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header-services {
  padding: 11rem 2rem 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  background: url(../img/groovepaper.png);
}

.main-services {
  padding: 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: linear-gradient(rgba(69, 168, 110, 0.01), 70%, rgba(69, 168, 110, 0.3)), url(../img/groovepaper.png);
  position: relative;
  margin-bottom: -1rem;
}
.main-services:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45A86E;
  clip-path: polygon(100% 97%, 100% 100%, 0 100%, 0 100%, 45% 99%, 62% 99%, 83% 98%);
}
.main-services__list {
  display: grid;
  justify-items: start;
  list-style-type: none;
  position: relative;
  z-index: 2;
}
.main-services__item {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
}
.main-services__item:last-child {
  margin-bottom: 2rem;
}
.main-services__item::before {
  content: "♡";
  color: #45A86E;
  font-size: 2rem;
  transform: translateY(-2px);
}
.main-services__text {
  padding: 0 0 2rem;
  display: grid;
  z-index: 2;
}
.main-services__text p {
  z-index: 1;
}
.main-services__icon {
  display: block;
  height: 50vmin;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.main-services__btn {
  margin: auto 0 2rem;
  padding: 0 1rem;
}

/*# sourceMappingURL=style.css.map */
