*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #6D5D4B;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
}

.pg {
  max-width: 65ch;
  font-size: 1.6rem;
}
.pg > p:not(:last-child) {
  margin-bottom: 1rem;
}

.blur {
  filter: blur(10px);
}

.heading-1 {
  font-family: "Architects Daughter", cursive;
  font-size: 7rem;
  color: #45A86E;
  line-height: 1;
  font-weight: 400;
}

.heading-2 {
  font-family: "Architects Daughter", cursive;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 10rem;
  font-weight: 400;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483A;
}

.heading-3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: color-type-1;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .heading-3 {
    font-size: 1.7rem;
  }
}

.heading-4 {
  font-family: "Architects Daughter", cursive;
  font-size: 1.9rem;
  font-weight: 400;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes dogEyes {
  0%, 100% {
    transform: translate(-6%, 7%);
  }
  20% {
    transform: translate(-1%, 0);
  }
  70% {
    transform: translate(-1%, 0);
  }
  80% {
    transform: translate(-6%, 7%);
  }
}
@keyframes dogHead {
  0%, 100% {
    transform: rotate(-1deg) translateX(1px) scale(1.01);
  }
  50% {
    transform: rotate(0deg) translateX(1px) translateY(2px);
  }
}
@keyframes dogTongue {
  0%, 100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.01);
  }
}
@keyframes eyebrows {
  0%, 100% {
    transform: translateY(0) translateX(-0.5rem);
  }
  20% {
    transform: translateY(0) translateX(-0.5rem);
  }
  40% {
    transform: translateY(0) translateX(-0.5rem);
  }
  60% {
    transform: translateY(0) translateX(-0.5rem);
  }
  70% {
    transform: translateY(45%) translateX(10%);
  }
  90% {
    transform: translateY(0) translateX(-0.5rem);
  }
}
@keyframes catEyes {
  0%, 100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-0.3rem, 0.1rem);
  }
  40% {
    transform: translate(-0.3rem, 0.1rem);
  }
  60% {
    transform: translate(-0.3rem, 0.1rem);
  }
  80% {
    transform: translate(-0.3rem, 0.1rem);
  }
}
@keyframes sway {
  0%, 100% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(6deg);
  }
}
@keyframes sway2 {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(6deg);
  }
}
.nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 8rem;
  display: flex;
  padding: 0 12vw;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 10000;
}
@media only screen and (max-width: 50em) {
  .nav {
    padding: 0 5vw;
  }
}
.nav__logo {
  width: 15rem;
  margin-right: auto;
}
.nav__logo img {
  width: 100%;
  display: block;
}
.nav__list {
  font-size: 1.6rem;
  display: flex;
  list-style: none;
}
@media only screen and (max-width: 37.5em) {
  .nav__list {
    border-top: 1px solid #45A86E;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    padding: 4rem 0;
    transform: translateX(150%);
    transition: transform 0.8s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  }
}
.nav__item:not(:last-child) {
  margin-right: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.nav__link, .nav__link:link, .nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #696969;
  display: block;
  padding: 3px 5px;
  border-radius: 2px;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active, .nav__link:focus {
  background-color: #45A86E;
  color: #fff;
  transform: translateY(-0.5rem);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hamburger {
  border: none;
  outline: none;
  cursor: pointer;
  width: 3.5rem;
  height: 3rem;
  background-color: #fff;
  z-index: 100;
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .hamburger {
    display: block;
  }
}
.hamburger__line {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #696969;
  position: relative;
}
.hamburger__line::before, .hamburger__line::after {
  height: 4px;
  width: 100%;
  background-color: #696969;
  content: "";
  display: block;
  position: absolute;
}
.hamburger__line::before {
  top: -1rem;
}
.hamburger__line::after {
  top: 1rem;
}
.xIcon {
  display: none;
}

.showMenu {
  transform: translateY(0);
}

.header {
  background-color: white;
  background: linear-gradient(rgba(69, 168, 110, 0.01), 70%, rgba(69, 168, 110, 0.3)), url(../img/linen.png);
  background-repeat: repeat;
  padding-top: 7rem;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: max-content max-content;
  position: relative;
  transition: all 0.2s;
  grid-template-areas: "heading   img" "btn       img";
}
.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #45A86E;
  clip-path: polygon(82% 92%, 100% 85%, 100% 100%, 0 100%, 0 93%, 57% 90%);
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding-top: 15rem;
    align-content: flex-start;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    grid-template-areas: "img" "heading" "btn";
  }
}
.header__heading {
  grid-area: heading;
  text-align: center;
  display: block;
  margin-bottom: 5px;
}
@media only screen and (max-width: 37.5em) {
  .header__heading {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.header__heading--sub {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
  display: block;
  color: #696969;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .header__heading--sub {
    font-size: 1.9rem;
  }
}
.header__img {
  grid-area: img;
  width: 48vmin;
  transform-box: fill-box;
  justify-self: center;
}
@media only screen and (max-width: 50em) {
  .header__img {
    width: 35vmin;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__img {
    width: 58vmin;
  }
}
.header__btn {
  grid-area: btn;
  display: block;
  justify-self: center;
  z-index: 2;
}

#dogEyes {
  transform-box: fill-box;
  transform-origin: center;
  animation: dogEyes 2.5s linear infinite;
}

#dogHead {
  transform-box: fill-box;
  transform-origin: bottom right;
  animation: dogHead 2s linear infinite;
}

#dogTongue {
  transform-box: fill-box;
  transform-origin: top;
  animation: dogTongue 0.45s infinite;
}

#dogEyebrows {
  transform-box: fill-box;
  transform-origin: center;
  animation: eyebrows 3s infinite;
}

#catTail {
  transform-box: fill-box;
  transform-origin: top left;
  animation: sway2 2.5s infinite;
}

#catEyes {
  transform-box: fill-box;
  transform-origin: center;
  animation: catEyes 5s 2s linear infinite;
}

#catYellow {
  transform-box: fill-box;
  transform-origin: bottom;
  animation: sway 4s infinite;
}

.main {
  margin: 0 auto;
  transition: all 0.2s;
}

.about {
  background: linear-gradient(170deg, #45A86E, 65%, #2A9254 80%);
  margin-top: -5rem;
  padding-bottom: 15rem;
  display: grid;
  justify-items: center;
  grid-row-gap: 6rem;
  position: relative;
}
.about:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  clip-path: polygon(82% 92%, 100% 90%, 100% 100%, 0 100%, 0 93%, 57% 91%);
}
.about__offer-box {
  max-width: 126rem;
  margin: 2rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 45rem));
  grid-gap: 2rem;
  justify-content: space-evenly;
}
.about__offer {
  background-color: #fff;
  padding: 6rem 2rem;
  display: grid;
  grid-gap: 4rem;
  justify-items: center;
  align-content: flex-start;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.2s;
  backface-visibility: hidden;
}
.about__offer:hover {
  transform: translate3d(0, -1rem, 0) scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about__icon {
  width: 7rem;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 2rem;
  background-color: #45A86E;
  text-decoration: none;
  transition: all 0.2s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #45A86E;
  color: #fff;
  transform: translate3d(0, -0.5rem, 0);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*# sourceMappingURL=style.css.map */
