
// COLOR VARIABLES
$color-primary: #45A86E;
$color-primary-dark: #B28451;

$color-type-1: #696969;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;
$font-display: 'Architects Daughter', cursive;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


// SHADOW VARIABLES

$shadow:  rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;




// test colors

$yellow: #FFC600;