
// COLOR VARIABLES
$color-primary: #45A86E;
$color-primary-dark: #2a9254;
$color-primary-light: lighten($color-primary, 15%);

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #696969;


$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;
$font-display: 'Architects Daughter', cursive;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


// SHADOW VARIABLES

$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;



// test colors

$yellow: #FFDC64;

