

.header {
    background-color:   white;
    padding-top: 7rem;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: max-content max-content;

    grid-template-areas:
    "heading   img"
    "btn       img"
    ;



    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-primary;
        clip-path: polygon(82% 92%, 100% 85%, 100% 100%, 0 100%, 0 93%, 57% 90%);
    }


    @media only screen and (max-width: $bp-small) {
        padding-top: 15rem;
        align-content: flex-start;
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
        grid-template-areas:
            "img"
            "heading"
            "btn"
        ;
    }



    &__logo {
        grid-area: logo;
        width: 12rem;
        justify-self: center;

        display: none;
    }

    &__heading {
        grid-area: heading;
        text-align: center;
        display: block;
        width: 45rem;
        margin-bottom: 5px;
        align-self: end;

        @media only screen and (max-width: $bp-small) {
            margin: 0 auto;
            width: 35rem;
            margin-bottom: 1rem;

        }
    }

    &__heading--sub {
        font-size: 2.5rem;
        line-height: 1.5;
        display: block;
        color: $color-type-1;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;

        }
    }

    &__img {
        grid-area: img;
        width: 35vmin;
        transform-box: fill-box;
        justify-self: center;
        animation: sway 3s infinite;
    }

    &__btn {
        grid-area: btn;
        display: block;
        justify-self: center;
        z-index: 2;
        // animation: heartBeat 2s 1s 3;
    }
}


#dogEyes {

    transform-box: fill-box;
    transform-origin: bottom;
    animation: dogEyes 2.5s linear infinite;
}


#dogHead {
    transform-box: fill-box;
    transform-origin: bottom right;
    animation: dogHead 2s linear infinite;
    backface-visibility: hidden;
}

#dogTongue {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: dogTongue .45s infinite;
}



#dogEyebrows {
    transform-box: fill-box;
    transform-origin: center;
    animation: eyebrows 3s infinite;
}


#dogEyebrowsBottom {
    transform-box: fill-box;
    transform-origin: center;
    animation: eyebrowsBottom 3s infinite;
}







#catBody {
    transform-box: fill-box;
    transform-origin: bottom right;
    animation: sway 4s infinite;
}


#catEyes {
    transform-box: fill-box;
    transform-origin: center;
    animation: catEyes 5s 2s linear infinite;
}