

.main {
    width: 100%;
    margin: 0 auto;
    transition: all .2s;
    margin-top: -4rem;
}



.about,
.service,
.team,
.contact {
    // margin: 0 auto;
    padding-top: 6rem;
    margin-top: -1rem;

}



.about__box,
.service__box,
.team__box {
    // background-color: pink;
    padding-bottom: 12rem;

}







