
.main {
    width: 100%;
    margin: 0 auto;
    transition: all .2s;
    margin-top: -4rem;
}

.about,
.service,
.team,
.contact {
    padding-top: 6rem;
    margin-top: -1rem;
}

.about__box,
.team__box {
    padding-bottom: 12rem;
}







