

.about {

    @include componentLayout (6rem, 6rem);
    background: linear-gradient(rgba($color-primary, 1), 40%,  rgba($color-primary-dark, 1)),  url(../img/background-dog.svg);
    background-repeat: space;
    background-blend-mode: overlay;

    &:after {
        @include componentAfter;
        background: linear-gradient(rgba($color-white, .02), 90%,  rgba($color-primary, .03)), url(../img/groovepaper.png);
        clip-path: polygon(27% 99%, 66% 99%, 89% 98%, 100% 99%, 100% 100%, 0 100%, 0 98%);
    }

    &__card {
        background: url(../img/groovepaper.png);
        padding: 6rem 3rem;

        &:hover {
            transform: translate3d(0, -.5rem, 0) scale(1.01);
            box-shadow: $shadow-3;
        }

        &:hover .about__icon {
            transform: scale(1.1);
        }
    }

    &__icon {
        height: 7rem;
        width: 7rem;
        transition: all .2s;
    }
}