
.btn,
.btn:link,
.btn:visited {
    font-size: 2rem;
    color: $color-white;
    padding: 1rem 2rem;
    background-color: $color-primary;
    text-decoration: none;
    transition: all .2s;
    box-shadow: $shadow-2;
    animation: heartBeat 1s 1.2s 3;
    border: 2px solid transparent;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: $color-primary;
    color: $color-white;
    transform: translate3d(0, -.5rem, 0);
    box-shadow: $shadow-3;
}


.btn:focus {
    outline: none;
}