

.contact {
    @include componentLayout (6rem, 6rem);
    background: linear-gradient(rgba($color-primary, .01), 70%,  rgba($color-primary, .3)), url(../img/groovepaper.png);

    &:after {
        @include componentAfter;
        background-color: $color-primary;
        clip-path: polygon(35% 99%, 88% 98%, 100% 98%, 100% 100%, 0 100%, 0 97%);
    }

    &__box {
        max-width: 126rem;
        margin: 0 2rem;
        // padding-bottom: 14rem;
        display: grid;
        justify-items: center;
        // grid-template-columns: repeat(auto-fit, minmax(5rem, 50rem) );
        grid-gap: 2rem;
        // justify-items: center;
        padding-bottom: 6rem;

    }

    &__card {
        display: grid;
        // grid-template-columns: 40rem;
        justify-content: center;
        // background-color: pink;
        // justify-items: center;
        grid-row-gap: 1rem;
        margin-bottom: 1.5rem;
    }

    &__text {
        display: grid;
        grid-row-gap: 2rem;

    }

    &__table {
        text-align: left;
        font-size: 1.6rem;
        // display: grid;
        // justify-content: start;
        // background-color: $yellow;
    }



    &__link,
    &__link:link,
    &__link:visited {
        font-size: 1.8rem;
        text-decoration: none;
        color: $color-grey-dark-1;
        display: grid;
        justify-content: start;
        align-items: center;
        grid-auto-flow: column;
        grid-gap: 2rem;
        transition: all .2s;
        // font-weight: 700;
    }

    &__link:hover .fas,
    &__link:active .fas,
    &__link:focus .fas{
        color: $color-primary-dark;

    }
}

.fas {
    color: $color-primary;
    transition: all .2s;
}


