.consent {
  &__popup {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    background-color: #fff;
    padding: 2rem;
    z-index: 1000;
    transition: opacity 0.8s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    @media only screen and (min-width: $bp-large) {
      background-image: url(../img/cookie.svg);
      background-size: 8rem;
      background-repeat: no-repeat;
      background-position: 15vw;
    }

    &.hidden {
      transition: transform 1s, opacity 2s;
      transform: translateY(100%);
      opacity: 0;
    }
  }

  &__list li {
    margin-left: 2rem;

    & ol {
      list-style-type: lower-alpha;
    }

    span {
      font-weight: 700;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 0.5rem;
  }
}
