

.team {
    @include componentLayout (6rem, 6rem);
    background: linear-gradient(rgba($color-primary, 1), 80%,  rgba($color-primary-dark, 1)),  url(../img/background-cat.svg);
    background-repeat: space;
    background-blend-mode: overlay;

    &:after {
        @include componentAfter;
        background: linear-gradient(rgba($color-white, .02), 90%,  rgba($color-primary, .03)), url(../img/groovepaper.png);
        clip-path: polygon(27% 99%, 66% 99%, 89% 98%, 100% 99%, 100% 100%, 0 100%, 0 98%);
    }

    &__box {
        max-width: 126rem;
        margin: 0 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 45rem) );
        grid-gap: 2rem;
        justify-content: space-evenly;
    }

    &__card {
        background: url(../img/linedpaper.png);
        background-position: center;
        padding: 5rem 3rem;
        display: grid;
        grid-gap: 4rem;
        justify-items: center;
        align-content: flex-start;
        border-radius: 3px;
        box-shadow: $shadow-2;
        transition: all .2s;
        backface-visibility: hidden;

        &:hover {
            transform: translate3d(0, -.5rem, 0) ;
            box-shadow: $shadow-3;
        }

        &:hover .team__img {
            transform: scale(1.05) rotate(3deg);
        }
    }

    &__img {
        background-color: $color-white;
        display: block;
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        transition: all .2s;


        &-1 {
            background-image: url(../img/wet-1.png);
            background-position: -1rem 1rem;
        }

        &-2 {
            background-image: url(../img/wet-2.png);
            background-position: center;
        }

        &-3 {background-image: url(../img/wet-3.png);
            background-position: 1rem 1rem;}

        &-4 {background-image: url(../img/wet-4.png);
            background-position: -2rem 1rem;}
    }

    &__link {
        text-decoration: none;
        color: $color-primary;
        transition: all .2s;

        &:hover,
        &:active {
            color: inherit;
            background-color: $color-yellow;
        }

        &:focus {
            color: inherit;
            background-color: $color-yellow;
            outline: none;
        }

    }

}