

@keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }






  // DOG EYES

  @keyframes dogEyes {
    0%, 100% {
      transform: translate(-4px, 4px) ;
    }


    20% {
      transform: translate(-1px, 1px);
    }

    70% {
      transform: translate(-1px, 1px);
    }



    80% {
      transform: translate(-4px, 4px) ;
    }

  }


// DOG HEAD

  @keyframes dogHead {

    0%, 100%{ transform: rotate(-1deg) translateX(1px) scale(1.01);}

    50% { transform: rotate(0deg) translateX(1px) translateY(2px) ;
    }

  }


  // DOG TONGUE

  @keyframes dogTongue {

    0%, 100% {
      transform: scale(1.1);
    }

    50%{ transform: scale(1.01);
    }

  }

  // DOG EYEBROWS

  @keyframes eyebrows {

    0%, 100% {
        transform: translateY(-20px) translateX(-6px);
      }


    20% {
      transform: translateY(-20px) translateX(-6px);
    }


    40% {
      transform: translateY(-20px) translateX(-6px);
    }

    60% {
      transform: translateY(-20px) translateX(-6px);
    }

    70% {
      transform: translateY(0) translateX(0);
    }

    90% {
      transform: translateY(-20px) translateX(-6px);
    }

  }





    // CAT EYES

    @keyframes catEyes {
      0%, 100% {
        transform: translate(0, 0) ;
      }

      20% {
        transform: translate(-3px, 0);
      }


      40% {
        transform: translate(-3px, 0);
      }


      60% {
        transform: translate(-3px, 0);
      }


      80% {
        transform: translate(-3px, 0);
      }

    }



    @keyframes sway {
      0%, 100%{ transform: scale(1);}

      50%{ transform: scale(1.005);
      }
    }