
.heading-1 {
    font-family: $font-display;
    font-size: 7rem;
    color: $color-primary;
    line-height: 1;
    font-weight: 400;
}

.heading-2 {
    font-family: $font-display;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 10rem;
    font-weight: 400;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.heading-3 {

    font-family: $font-primary;
    font-size: 2rem;
    color: color-type-1;
    text-transform: uppercase;
    font-weight: 700;
}

.heading-4 {
    font-family: $font-display;
    font-size: 1.9rem;
    font-weight: 400;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}