

.container-services {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.main-services {
    flex: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba($color-primary, .01), 70%,  rgba($color-primary, .3)), url(../img/groovepaper.png);

}