

.container-services {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.header-services {
    padding: 11rem 0 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    background: url(../img/groovepaper.png);

}